@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  button {
    @apply border font-semibold py-2 px-4 rounded;
  }

  .heroGame {
    @apply flex px-2 py-2 font-semibold items-center text-xs text-slate-300  md:text-xl flex-col;
  }
  .heroIcon {
    @apply w-[30%] hover:animate-bounce;
  }

  .navSubItem {
    @apply text-gray-700 font-semibold block px-4 py-2 text-sm border-b-2 hover:underline;
  }

  .footItem {
    @apply py-1 font-semibold  pt-2  text-gray-200 text-sm;
  }

  .footItem a {
    @apply hover:text-orange-500;
  }
  .guideImg {
    @apply border-2 border-white   md:hover:scale-105 hover:cursor-pointer hover:border-orange-600;
  }

  .slideArrow {
    @apply absolute text-orange-500 w-10  top-[50%] z-10 cursor-pointer hover:text-orange-700;
  }

  .modal-image {
    text-align: -webkit-center;
  }

  .bg-opacity-98 {
    opacity: 0.98;
  }

  .dot {
    margin: 1px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
}
